.container {
  max-width: 1170px;
  margin: 0 auto;
}

.page-link {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  cursor: pointer;
  margin-right: 4px;
  transition: ease-in-out 0.5ms;
}

/*.page-link:hover {*/
/*  transform: translateY(-10px);*/
/*}*/

.current-page-link {
  background: tomato;
  color: #fff;
}

.pages-container {
  display: flex;
  justify-content: center;
}
